body {
    font-family: 'Montserrat', sans-serif !important;
}

code {
    font-family: 'Cutive Mono' !important;
}


h1 {
    margin-top: 10rem;
}

h2 {
    margin-top: 5rem;
}

img {
    margin-top: 5rem;
}
